@import url("https://fonts.googleapis.com/css2?family=Hurricane&display=swap");

body {
  background-color: /*#242b2e*/ black;
  color: white;
  margin-top: 5vw;
}

.dpheading {
  text-align: center;
  font-family: "Hurricane", cursive;
  font-size: 8vw;
}

.diseasesTiles {
  margin: 8vw 15vw 0vw 15vw;
}

.rHome {
  margin: 0vw 0vw 2vw 0vw;
}

.cHome {
  margin: 5vw;
}
