.arrow-left {
  width: 0;
  height: 0;
  border-top: 2vw solid transparent;
  border-bottom: 2vw solid transparent;
  border-right: 2vw solid whitesmoke;
  margin-left: 5vw;
}

@import url("https://fonts.googleapis.com/css2?family=Hurricane&display=swap");

.dheading {
  text-align: center;
  font-family: "Hurricane", cursive;
  font-size: 8vw;
}

.formStylingHA {
  margin: 5vw 5vw 15vw 5vw;
}

.HAlabel {
  margin-top: 2vw;
  margin-bottom: 2vw;
  display: block;
}

.inputStylingHA {
  border-radius: 5px;
  width: 15vw;
  text-align: end;
  padding: 0.3vw;
}

.optionssHA {
  text-align: center;
}

.rHA {
  margin: 0vw 0vw 0vw 0vw;
}

.cHA {
  margin: 2vw;
  text-align: end;
}

.btnContainerHA {
  text-align: center;
}

.submitButtonHA {
  margin: 5vw 0vw 5vw 0vw;
  align-self: center;
}

/*

/////////////////////////
/////////////////////////
/////////////////////////
/////////////////////////

*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
